<div *ngIf="exercise" class="exercise exercise--thumbnail" attr.data-index="{{exercise.id}}" attr.data-name="{{exercise.name}">
  <h1 class="margin-sm mt-panel__heading">Øvelse <span class="index">{{exercise.id}}</span>: <span class="name">{{exercise.name}}</span></h1>
  <div class="exercise__imageviewer imageviewer">
    <div class="imageviewer__images">
        <img *ngFor="let img of exercise.images;  let first = first;" [class.first-item]="first" class="imageviewer__image" src="/mtassets/exercise-images/{{img.name}}" />
    </div>
  </div>
  <div class="exercise__textwrapper">
    <h1 class="margin-sm">{{exercise.name}}</h1>
    <p>{{exercise.focus}} / {{exercise.diff}}</p>
    <div class="exercise__description">{{exercise.description}}</div>
  </div >
</div>