<nav class="aside-menu">
	<ul id="menu-sidebar" class="nav nav-stacked firstlevel">
		<li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-13">
			<a title="Forsiden" href="//mytrainer.dk/blog/">Intro til Workout Generatoren</a>
		</li>
		<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
			<a title="Kropsvægtstræning" href="http://localhost/mt/mtBlog/kropsvaegtstraening/">Om Kropsvægtstræning</a>
		</li>
		<li id="menu-item-16" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16">
			<a title="Kropsvægtstræning" href="http://localhost/mt/mtBlog/kropsvaegtstraening/">Undgå skader</a>
		</li>
		<li id="menu-item-7" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7">
			<a title="Træningstips" href="http://localhost/mt/mtBlog/kom-igang/" data-toggle="collapse" data-parent="#menu-sidebar">Vores Træningstips</a>
			<button type="button" class="expand-btn" (click)="toggleSubMenu(element)">
				<span class="sr-only open">åbn undermenu</span><span class="sr-only close">luk undermenu</span>
			</button>
			<ul role="menu" class="menu-item__submenu secondlevel">
				<li id="menu-item-20" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20">
					<a title="Kom igang" href="http://mytrainer.dk/blog/#fd">Kom igang</a>
				</li>
				<li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
					<a title="Undgå skader" href="http://mytrainer.dk/blog/">Hold dampen oppe</a>
				</li>
				<li id="menu-item-18" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-18">
					<a title="Undgå skader" href="http://mytrainer.dk/blog/">Målret din træning</a>
				</li>
			</ul>
		</li>
		<li id="menu-item-8" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8">
			<a title="Om Mytrainer" href="http://localhost/mt/mtBlog/eksempel-side/">Om Mytrainer</a>
		</li>
	</ul>
</nav>